{% extends 'base.html' %}

{% block title %}Бовые группы{% endblock %}

{% block sidemenu %}
     <ul class="nav nav-sidebar">
     <ul class="nav nav-sidebar">

    
{% endblock %}

{% block content %}
    <div class="panel-heading">
        <h1 class="panel-title">{{ current_bg.name }}</h1>
    </div>
    <div class="row">
        
        <div class="col-xs-12 col-lg-8 main">
             
             <p>
             Раздел временно заморожен
             </p>



        </div>
    </div>
{% endblock %}
