{% extends 'base.html' %}

{% block title %}Высадки{% endblock %}

{% block sidemenu %}
    <ul class="nav nav-sidebar">
    <ul class="nav nav-sidebar">

        {% for BG in BGs %}
            <li><a href="{% url 'archive:mission_bg' 0 BG.pk%}">{{ BG.name }} </a></li>
        {% endfor %}
     <hr>
        {% for mission in Mission_list %}
            <li><a href="{% url 'archive:mission_bg' mission.pk state%}">{{ mission.name }} </a></li>
        {% endfor %}
    </ul>


{% endblock %}

{% block content %}
    <div class="panel-heading">
            <h1 class="panel-title">Высадки</h1>
         </div>
         <div class="panel-body">
            <div class="row">

               <div class="col-xs-6 col-lg-9 main">
                  {%  if  current_mission.target %}
                      {% for target in target_list %}
                          <p>{{ target }} </p>
                      {% endfor %}
                  {%  endif %}



                  <p>Результат : {{ current_mission.result}} </p>

                  {%  if  current_mission.info %}
                      {% for info in info_list %}
                          <p>{{ info }} </p>
                      {% endfor %}
                  {%  endif %}

                  {%  if  Planet_list %}
                      <p>Планета: {% for planet in Planet_list %}
                          <a href="{% url 'archive:planet' planet.id %}">{{ planet.name }} </a></p>
                                    {% endfor %}
                  {% else %}
                      <p>Планета:  {{ current_mission.planet_text}}</p>
                   {%  endif %}



                  <p></p>
                  {%  if  BG_list %}
                     <p>Боевая группа: {% for bg in BG_list %}
                         <a href="{% url 'archive:bg' bg.id 0 %}">{{ bg.name }} </a></p>
                                        {% endfor %}
                  {%  endif %}

               </div>
            </div>
         </div>
{% endblock %}
